@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid black;
    background: $backgroundColor ;
    div,img{
        position: absolute;
    }
}

.hide {
  opacity: 0;
}

#moneyDrop {
    width: 300px;
    height: 250px;
    top: 0px;
    background: url("../img/moneyDropSpritesheet.jpg") no-repeat 0 0; }

  
  #moneyOutSpritesheet {
    width: 300px;
    height: 250px;
    top: 0px; 
    background: url("../img/moneyOutSpritesheet.jpg") no-repeat 0 0; 
  }
  
  #copyOne, #copyTwo {
    bottom: 10px;
    left: -1px;
   }
  
  #yellowFrame {
    width: 300px;
    height: 250px;
    background: #ffd404;
  }
  
  #phone {
    top: 77px;
    left: 15px;
  }
 
  #logo {
    top: 14px;
    left: 184px;
  }
  
  #copyThree {
    right: -1px;
    top: -1px;
  }
  
  .cta {
    left: 85px;
    top: 181px;
    opacity:0;
  }
  
  #bgExit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $width;
    height: $height;
    cursor: pointer;
  }